body {
  font-family: 'Bitter', serif;
  font-family: 'Josefin Sans', sans-serif;
  background-color:#002B36;
  margin-left: auto;
  margin-right: auto;
  max-width: 700px;
  padding: 7px;
}

div.container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "header"
    "Hero"
    "about"
    "event"
    "signup"
    "footer";

  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
}

header {
  background-color: #032B70;
  grid-area: header;
  padding: 7px;
}

main {
grid-area: main;
padding: 7px;
}

section {
    min-height: 300px;
}
section#Hero {
  grid-area: Hero;
}
section#about {
  background-color: #C60000;
  grid-area: about;
  color: #d8c10f
}

section#event {
  background-color: ;
  grid-area: event;
}

section#signup {
  background-color:#0A0A0A;
  grid-area: signup;
  color: #FFFFFF
}

footer {
  background-color: #1C1C1C;
  grid-area: footer;
}

@media (min-width: 800px) {
  div.container {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "header header"
      "Hero Hero"
      "event event"
      "about signup"
      "footer footer";
  }
}
h1 {
  font-family: 'Bitter', serif;
font-family: 'Bungee', cursive;
color: #FFFFFF
border: 5px solid #4FFF12
  border:20px 0 20px 0;
  text-align: center;
    color: #4FFF12;
  border-style: solid;
}
h2 {
  font-family: 'Risque', cursive;
font-family: 'Noto Serif', serif;
color: #EC1B35
}
h2#about {
  color: #FFFFFF
}
img {
max-width: 100%;
}
img.right {
  float: right;
  margin-left: 20px;
}

img.left {
  float:left;
  margin-right: 20px
}

img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
line-height: 1.6;
color: #000000
}
